@import "../../styles/config";

.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0;
  h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    .left {
      h3 {
        font-size: 35px;
      }
      .icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid $green-color;
        padding: 5px 10px;
        margin: 20px 0;
        text-align: center;
        font-size: 25px;
        color: $green-color;
        &:hover {
          border: 2px solid $pink-color;
          background-color: var($pink-color 0.99);
          color: $pink-color;
          cursor: pointer;
          box-shadow: 0 0 10px $pink-color;
        }
        img {
          width: 125px;
        }
      }
    }
  }
  .right {
    h3 {
      font-size: 35px;
    }
  }
}
p {
  font-size: 23px;
  margin-bottom: 30px;
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
  .learn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 50px 0;
    h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 10px;
    }
    .split {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .left {
        h3 {
          font-size: 30px;
        }
        .icons {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: 2px solid $green-color;
          padding: 5px 10px;
          margin: 15px 0;
          text-align: center;
          font-size: 22px;
          color: $green-color;
          &:hover {
            border: 2px solid $pink-color;
            background-color: var($pink-color 0.99);
            color: $pink-color;
            cursor: pointer;
            box-shadow: 0 0 10px $pink-color;
          }
        }
        img {
          width: 85px;
        }
      }
    }
    .right {
      h3 {
        font-size: 30px;
      }
    }
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
