// GENERAL //
$font-stack: Blinker, sans-serif;
$black-color: #000;
$primary-color: #ffffff;
$bg-color-1: #fff2e5;
$bg-color-2: #fff6ed;
$bg-color-3: #fffeff;
$green-color: #87baa9;
$pink-color: #f49498;
$gray-color: #262626;
