// GENERAL //
$font-stack: Blinker, sans-serif;
$black-color: #000;
$primary-color: #fff;
$bg-color-1: #fff2e5;
$bg-color-2: #fff6ed;
$bg-color-3: #fff8f8;
$brown-color: #3a1e0c;
$green-color: #1f3b04;
$gray-color: #262626;
