html,
body {
  font-family: Blinker, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background-color: #fff8f8;
  margin: 0;
  padding: 0;
}
a {
  font-weight: 500;
  color: #87baa9;
  text-decoration: inherit;
}
a a:hover {
  color: #87baa9;
}
