@import "config";

html,
body {
  font-family: $font-stack;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background-color: $bg-color-3;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}
a {
  font-weight: 500;
  color: $green-color;
  text-decoration: inherit;
  a:hover {
    color: $green-color;
  }
}
