@import "../../styles/config";

.navbar-container {
  background-color: $bg-color-3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  border-bottom: $green-color 1px solid;
  box-shadow: 1px 1px 2px lighten($green-color, 0.9%);
  margin: 0 auto;
  .logo-container img {
    width: 190px;
    height: auto;
    margin-right: 20px;
  }
}

@media screen and (max-width: 800px) {
}
@media screen and (min-width: 800.02px) and (max-width: 1190px) {
}
