@import "../../styles/config";

.sick {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0;
  h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    .left {
      h3 {
        font-size: 35px;
      }
    }
  }
  .right {
    h3 {
      font-size: 35px;
    }
    .symptoms-icons {
      display: flex;
      img {
        width: 120px;
      }
    }
    .wearing-mask-boy {
      width: 80%;
    }
  }
}
p {
  font-size: 23px;
  margin-bottom: 30px;
}

// MEDIA QUERIES //
@media only screen and (max-width: 800px) {
  .sick {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 50px 0;
    h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 50px;
    }
    .split {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .left {
        h3 {
          font-size: 30px;
        }
      }
    }
    .right {
      h3 {
        font-size: 30px;
      }
      .symptoms-icons {
        display: flex;
        img {
          margin-right: 20px;
          width: 100px;
        }
      }
      .wearing-mask-boy {
        width: 60%;
        margin-left: 80px;
      }
    }
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
