@import "../../styles/config";

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0;
  img {
    width: 100%;
    margin-top: 100px;
  }
  h2 {
    text-align: center;
    font-size: 50px;
  }
  p {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .loader {
    margin-bottom: 80px;
    height: 50px;
    color: $green-color;
  }
  .usa-data-btn {
    border: 2px solid $green-color;
    padding: 20px 40px;
    margin: 100px 20px;
    text-align: center;
    font-size: 22px;
    color: $green-color;
    &:hover {
      border: 2px solid $pink-color;
      background-color: var($pink-color 0.99);
      color: $pink-color;
      cursor: pointer;
      box-shadow: 0 0 10px $pink-color;
    }
  }
}

@media screen and (max-width: 800px) {
  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 100px 0;
    img {
      width: 100%;
    }
    h2 {
      text-align: center;
      font-size: 40px;
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .loader {
      margin-bottom: 80px;
      height: 50px;
      color: $green-color;
    }
    .usa-data-btn {
      border: 2px solid $green-color;
      padding: 20px 40px;
      margin: 100px 20px;
      text-align: center;
      font-size: 22px;
      color: $green-color;
      &:hover {
        border: 2px solid $pink-color;
        background-color: var($pink-color 0.99);
        color: $pink-color;
        cursor: pointer;
        box-shadow: 0 0 10px $pink-color;
      }
    }
  }
}
