@import "../../styles/config";

footer {
  padding: 70px 10px 50px 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  background-color: rgba($green-color, 0.8);
  color: $primary-color;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  span {
    color: $primary-color;
  }
  span:hover {
    font-weight: bold;
  }
}
