@import "../../styles/config";

.masks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0;
  h2 {
    font-size: 50px;
    text-align: center;
  }
  img {
    width: 100%;
  }
  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    .left {
      h3 {
        font-size: 35px;
      }
    }
  }
  .right {
    h3 {
      font-size: 35px;
    }
  }
}
p {
  font-size: 23px;
  margin-bottom: 30px;
}

// MEDIA QUERIES //
@media screen and (max-width: 800px) {
  .masks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 50px 0;
    h2 {
      font-size: 40px;
      text-align: center;
    }
    img {
      width: 80%;
    }
    .split {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .left {
        h3 {
          font-size: 30px;
        }
      }
    }
    .right {
      h3 {
        font-size: 30px;
      }
    }
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
