@import "../../styles/config";

.masks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0;
  h1 {
    font-size: 50px;
    text-align: center;
  }
  img {
    text-align: center;
  }
  .split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    .left {
      h2 {
        font-size: 35px;
      }
    }
  }
  .right {
    h2 {
      font-size: 35px;
    }
    img {
      width: 100%;
    }
  }
}
p {
  font-size: 20px;
  margin-bottom: 30px;
}
