@import "../../styles/config";

.download {
  background-color: $bg-color-2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 100px 0 0 0;
  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    flex-shrink: 0;
    .left {
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 23px;
        margin-bottom: 30px;
      }
      img {
        width: 180px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      align-items: flex-end;
    }
  }
}

// MEDIA QUERIES //
@media screen and (max-width: 1190px) {
  .download {
    background-color: $bg-color-2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 50px 0 0 0;
    .split {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-shrink: 0;
      gap: 42px;
      .left {
        h3 {
          text-align: center;
          font-size: 25px;
        }
        p {
          font-size: 23px;
          margin-bottom: 30px;
        }
        img {
          width: 150px;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      .right {
        display: flex;
        align-items: flex-end;
        img {
          width: 350px;
        }
      }
    }
  }
}
